*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 60px;
    width: 1303px;
}

.header img{
    padding-left: 600px;
    padding-top: 10px;
}


#fa{
    padding-left: 500px;
}

#in{
    padding-left: 10px;
}

#menu{
    max-width: 1303px;
    min-height: 50px;
    background: black;
}

#menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}
#menu a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
#menu a:hover{
    background: rgb(217, 223, 127);
}

.Slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.Slider ul{
    display: flex;
    animation: cambio 24s infinite;
    width: 400%;
}
.Slider li{
    width: 100%;
    list-style: none;
}
.Slider img{
    width: 1303px;
    height: 600px;
}

section img{
    padding-left: 250px;
    margin: 20px;
}

footer img{
    width: 1303px;
}

.foo{
    background: rgb(124, 124, 124);
}

.gmail{
    padding-left: 650px;
    width: 24px;
}

@keyframes cambio{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
}